header.account {
  height: 400px;
  width: 100%;
  background-color: #E9D3FF;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
 }
 
 